html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }
.s_main {
  margin-top: 20px;
}
.box {

}
.box .form-group {
  margin-bottom: 0;
}
.box_search .panel-default > .panel-heading {
  border-radius: 3px;
  padding: 7px 7px;
  background-color: #FF910C;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box_back .panel-default > .panel-heading{
  padding: 6px 4px;
}
.box_back h4 {
  display: inline-block;
  font-size: 14px;
  font-family: "OpenSansBold", sans-serif;
  margin: 10px 0;
}
.box_back .btn {
  font-size: 12px;
  text-transform: none;
  color: #000;
  font-family: "OpenSansBold", sans-serif;
  padding: 6px 6px;
  float: right;
}
.box_back .input-group {
  margin-bottom: 8px;
}
.box_back .input-group:last-child {
  margin-bottom: 0;
}
.box_back .input-group .input-group-addon {
  background-color: #FF910C;
  border-color: #FF910C;
}
.input-group-addon {
  color: #995C11;
}
.box_mnu .panel-heading:nth-child(2) {
  border-radius: 0;
}
.aside_carousel .item {
  min-height: initial;
  background-color: transparent;
  margin-bottom: 5px;
}
.aside_carousel .carousel-indicators {
  position: initial;
  width: 100%;
  margin-left: 0;
}
.aside_carousel .carousel-indicators li {
  border-color: #999;
}
.aside_carousel .carousel-indicators li.active {
  border-color: transparent;
}
.aside_carousel .carousel-control {
  margin-bottom: 0;
}
.aside_carousel .carousel-control span {
  color: #aaa;
  text-shadow: none;
}
.car_control {
  position: absolute;
  bottom: 5px;
  width: 100%;
  color: grey;
}
h4.lead {
  font-family: "OpenSans", sans-serif;
  text-transform: none;
}
.carousel-inner .aside_car_ontainer p {
  font-size: 13px;
  margin-bottom: 10px;
}
.aside_carousel .more {
  font-size: 13px;
}
.well h4 {
  margin-top: 0;
}
.well p {
  font-size: 13px;
  line-height: 1.4;
}